.petsPageWrp {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notFoundImg {
  width: 500px;
  margin: 0 auto;
}
.petsTypeTitle {
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
}
