.pageWrp {
  /* margin: 0 auto; */
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.petsPageWrp {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}
.petsTitle {
  margin-bottom: 2rem;
  text-align: center;
}
.petsContainer {
  display: flex;
  flex-direction: column;
}
.petsTypeTitle {
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
}
.petsSeeMoreBtn {
  margin-left: auto;
}
