.petsPageWrp {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}
.petsTitle {
  margin-bottom: 2rem;
  text-align: center;
}

.petsTypeTitle {
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
}
.petsSeeMoreBtn {
  margin-left: auto;
}
